{% extends "base.html" %} {% block content %}
<div class="container d-flex justify-content-center vh-100">
  <div class="logo-container ">
    <div class="logo top-right-logo">
    </div>

  </div>
  <div style="max-width: 500px; width: 100%">
    <div class="text-center" style="color: #fff">
      <h2 class="mb-3">Check Your Email</h2>
      <p class="lead">
        We’ve emailed you instructions for setting your password.
      </p>
      <p style="color: #ffffff88">
        If you don't receive an email, please make sure you've entered the
        address you registered with and check your spam folder.
      </p>
      <a href="{% url 'account_login' %}" class="auth-btn">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}
