{% extends 'base.html' %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="logo-container">
    <div class="logo top-right-logo"></div>
</div>

<div class="credit-container">

    <div class="homeicon">
        <a href="{% url 'home' %}" style="text-decoration: none;">
            <div style="display: inline-block; margin: 10px; cursor: pointer;" title="Home">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M3 9L12 2L21 9V20C21 20.53 20.79 21.04 20.41 21.41C20.04 21.79 19.53 22 19 22H5C4.47 22 3.96 21.79 3.59 21.41C3.21 21.04 3 20.53 3 20V9Z"
                        stroke="white" stroke-width="2" />
                    <path d="M9 22V12H15V22" stroke="white" stroke-width="2" />
                </svg>
            </div>
        </a>
    </div>

    <div class="about-content">
        <h1 class="auth-title" style="text-align:center;">Credits</h1>
        <div class=" text-content">
            <p style="margin-bottom: 25px;">
                We take a moment to thank all the people who have contributed to this project.
            </p>

            <div class="credits-container">
                <div class="credits-grid">

                    <!-- Column 1 -->
                    <div class="credits-column">


                        <div class="credits-section">
                            <h3>3D Modelling and Texturing</h3>
                            <p>Siva R</p>
                            <p>Sreejith Jayaram</p>
                            <p>Suhas Hathwar</p>
                        </div>

                        <div class="credits-section" style="height:133px">
                            <h3>Web App Programming</h3>
                            <p>Anitha Saravanan</p>
                        </div>

                        <div class="credits-section">
                            <h3>Technical Inputs</h3>
                            <p>Jeslu Celine</p>
                            <p>Mathew George</p>
                            <p>Fathima Shouheen Zahir Hussain</p>
                            <p>Prasad Vaidya</p>
                            <p>Sreejith Jayaram</p>
                            <p>Samit Bhowmik</p>
                           
                            <p>Utkarsh Mathur</p>
                        </div>
                        <div class="credits-section" style="height:224px;">
                            <h3>Story Boarding and Direction</h3>
                            <p>Lakshmi Keshav Kumar</p>
                            <p>Sreejith Jayaram</p>
                        </div>

                        <div class="credits-section">
                            <h3>Sound Effects</h3>
                            <p>Pixabay</p>
                        </div>




                    </div>

                    <!-- Column 2 -->
                    <div class="credits-column">

                        <div class="credits-section" style="height:158px;">
                            <h3>Graphic and UI Design</h3>
                            <p>Ruby Rathan</p>
                        </div>
                        <div class="credits-section">
                            <h3>Game Programming</h3>
                            <p>Praveen Kumar Kothandaraman</p>
                            <p>Gomathi Nayagam K</p>
                        </div>
                        <div class="credits-section" style="height:264px;">
                            <h3>Supporting Animations</h3>
                            <p>Juny Wilfred</p>
                            <p>Pradeep D'Silva</p>
                            <p>Swathi Subramanian</p>
                            <p>Ruby Rathan</p>
                        </div>


                        <div class="credits-section" style="height:224px;">
                            <h3>Review and Testing</h3>
                            <p>Amruthraj Nagaraja</p>
                            <p>Jeslu Celine</p>
                            <p>Lakshmi K Kumar</p>
                            <p>Prasad Vaidya</p>
                            <p> Pooja Suresh Hollannavar</p>
                            <p> Geetha Krishnan
                            </p>
                        </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}