{% extends 'base.html' %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="logo-container ">
    <div class="logo top-right-logo"></div>
</div>

<div class="credit-container">

    <div class="homeicon">
        <a href="{% url 'home' %}" style="text-decoration: none;">
            <div style="display: inline-block; margin: 10px; cursor: pointer;" title="Home">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9 22V12H15V22" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </a>
    </div>
    <div class="about-content">
        <h1 style="text-align: center;">Credits</h1>
        <div class="text-content">


            <p>We take a moment to thank all the people who have contributed to this project.
            </p>
            <div class="credits-container">
                <div class="credits-grid">
                    <!-- Column 1 -->
                    <div class="credits-column">
                        <div class="credits-section">
                            <h3>Technical Inputs and Script</h3>
                            <ul class="team-list">
                                <li>Jeslu Celine</li>
                                <li>Manoj Hedge</li>
                                <li>Prasad Vaidya</li>
                                <li>Sreejith Jayaram</li>
                                <li>Samit Bhowmik</li>
                                <li>Utkarsh Mathur</li>


                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>3D Modelling and Texturing</h3>
                            <ul class="team-list">
                                <li>Siva R</li>
                                <li>Sreejith Jayaram</li>
                                <li>Suhas Hathwar</li>
                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>Supporting Animations</h3>
                            <ul class="team-list">
                                <li>Juny Wilfred</li>
                                <li>Pradeep D'Silva</li>
                                <li>Swathi Subramanian</li>
                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>Web App Programming</h3>
                            <ul class="team-list">
                                <li>Anitha Saravanan</li>
                            </ul>
                        </div>


                    </div>

                    <!-- Column 2 -->
                    <div class="credits-column">
                        <div class="credits-section">
                            <h3>Story Boarding and Direction</h3>
                            <ul class="team-list">
                                <li>Lakshmi Keshav Kumar</li>
                                <li>Sreejith Jayaram</li>
                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>Graphic and UI design</h3>
                            <ul class="team-list">
                                <li>Ruby Rathan</li>
                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>Game Programming</h3>
                            <ul class="team-list">
                                <li>Praveen Kumar Kothandaraman</li>
                            </ul>
                        </div>

                        <div class="credits-section">
                            <h3>Review and Testing</h3>
                            <ul class="team-list">
                                <li>Amruthraj Nagaraja</li>
                                <li>Jeslu Celine</li>
                                <li>Lakshmi K Kumar</li>
                                <li>Prasad Vaidya</li>
                            </ul>
                        </div>
                        <div class="credits-section">
                            <h3>Sound Effects</h3>
                            <ul class="team-list">
                                <li>Pixabay</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}