{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="logo-container ">
  <div class="logo top-right-logo"></div>
</div>


<div class="home-container">

  <div class="hero-section">
    <h1 class="hero-title" style="text-align: center;">Coming Soon...</h1>
    <div class="hero-description" style="text-align: left;">
      Watch this space for further updates.</div>

          <a href="{% url 'update_user_data' %}" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Update Your Data
        </a>
{{user_data}}
    <div class="download-buttons">
      <a href="#" class="download-btn windows-btn disabled" aria-disabled="true">
        <i class="fab fa-windows"></i> Download for Windows
      </a>
      <a href="#" class="download-btn windows-btn disabled" aria-disabled="true">
        <i class="fab fa-apple"></i> Download for Mac
      </a>
    </div>
  </div>
</div>




{% endblock %}