{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container d-flex justify-content-center vh-100">
  <div style="max-width: 500px; width: 100%">

    <h2 class="text-center mb-4" style="color:white">Enter New Password</h2>

    {% if messages %}
    {% for message in messages %}
    {% if "Password successfully changed" in message|stringformat:"s" %}
    <div class="alert alert-success mt-3">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for field in form %}
      <div class="mb-2">
        {{ field|add_class:"auth-form-control" }}
        {% if field.errors %}
        <div class="text-danger small">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
      {% endfor %}

      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'profile' %}" class="auth-link">
          Cancel
        </a>
        <button type="submit" class="auth-btn">Change Password</button>

        <!-- Cancel button -->

      </div>
    </form>
  </div>
</div>

{% endblock %}