{% extends "base.html" %} {% load widget_tweaks %}{% block content %}
<div class="container d-flex justify-content-center vh-100">
  <div style="max-width: 500px; width: 100%">
    <h2 class="text-center mb-4" style="color: #fff">Reset Your Password</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="">{{ form.email|add_class:"auth-form-control" }}</div>
      <button type="submit" class="auth-btn" style="font-size: 14px">
        Send Reset Link
      </button>
    </form>
    <div>
      <a href="{% url 'account_login' %}" class="auth-link">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}
