{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="signup-container">

  <div class="logo-container">
    <div class="logo top-right-logo">
    </div>
  </div>

  <div class="signup-content">

    <h1 class="auth-title">Register</h1>

    <div class="signup-form">

      <form method="POST" action="{% url 'account_signup' %}">

        {% csrf_token %}

        {{ form|crispy }}

        <div class="auth-btn-container">

          <a href="{% url 'account_login' %}" class="auth-link">

            Already have an account? Login
          </a>

          <button type="submit" class="auth-btn">

            Register
          </button>


        </div>
        <div style="color:#545cea; margin-top:20px;">Your data is safe with us and won't be used for commercial purposes.</div>
      </form>

    </div>

  </div>

</div>

{% endblock %}