{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; line-height: 1.5;">
    <p>Thank you for registering on Phantomload!</p>

    <p>
      Please click on the link below for the next step:
      <br>
      <a href="{{ activate_url }}" target="_blank">{{ activate_url }}</a>
    </p>

    <div class="hero-description" style="margin-top: 20px;">
      Click on the link to see the demo version of the game:
      <br>
      <a target="_blank" href="https://phantom-load.in/webgl/">Demo Version</a>
    </div>

    <p>If you did not register, please ignore this email.</p>

    <p>
      For any questions or support, please contact us at:
      <a href="mailto:support@phantom-load.in">support@phantom-load.in</a>
    </p>

    <p>Best Regards,<br>Team Phantom Load</p>
  </body>
</html>
{% endautoescape %}
